<!--<form>-->
<div>
  <input #titleSearch>
  <button (click)="checkForTitle(titleSearch.value)">Title Check</button>
  <div>
    <span class="success" *ngIf="titleFound"> {{ titleSearch.value}} found!</span>
    <span class="failure" *ngIf="!titleFound && titleSearch.value"> {{ titleSearch.value}} not found!</span>
  </div>
</div>
<!--</form>-->

<!-- No type set -->
<app-content-card [class.found]="titleSearch.value === item.title" *ngFor="let item of (classList | classTypeFilter); first as isTheFirstElement"
                  [content]="item" [class.is-first]="isTheFirstElement" class="notags"></app-content-card>

<!-- Martial type set -->
<app-content-card [class.found]="titleSearch.value === item.title" *ngFor="let item of (classList | classTypeFilter: 1); first as isTheFirstElement"
                  [content]="item" [class.is-first]="isTheFirstElement" class="onetag"></app-content-card>

<!--Half-Caster type set -->
<app-content-card [class.found]="titleSearch.value === item.title" *ngFor="let item of (classList | classTypeFilter: 2); first as isTheFirstElement"
                  [content]="item" [class.is-first]="isTheFirstElement" class="twotags"></app-content-card>

