<img *ngIf="content?.imgURL" (click)="logId()" [src]="content?.imgURL">
<img *ngIf="!content?.imgURL" (click)="logId()"
     src="https://i.pinimg.com/originals/37/aa/b2/37aab2f8d55f30639ac5c119fe5e4268.png"> <!-- Default Image --->
<h2>{{ content?.title}}</h2>
<p class="description">{{ content?.description }}</p>
<div class="meta-data">
  <div class="author-info">
    <span class="creator">{{ content?.creator }}</span>
    <span *ngIf="content?.type" class="type"  appHoverAffect affect="textDecoration">{{ content?.type}}</span>
  </div>
  <div *ngIf="content?.tags" class="tags">

    <span class="tag" appHoverAffect affect="fontWeight" *ngFor="let tag of content?.tags">{{ tag }}</span>
  </div>
</div>
